$color-primary: #ff4f7b;
$color-off-primary: #ff9cb4;
$color-secondary: #832232;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 30%);
$color-dark: #2a2a2a;
$color-light: rgb(235, 235, 235);
$color-off-dark: lighten($color-dark, 5%);
$color-off-light: darken($color-light, 20%);
