.hero {
    position: relative;
    z-index: 1;
    position: relative;
    height: 90vh;
    text-align: center;
    padding: 5em;
    padding-bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .slogan {
        margin-bottom: 1em;
    }
    .subheader {
        margin-top: 0 !important;
        margin-bottom: 1em;
        color: $color-off-light;
    }
}

.hero-section {
    padding: 5em;
    h2 {
        text-align: center;
    }
    .subheader {
        margin-top: 1em;
        font-size: 1.3em;
        text-align: center;
        color: $color-off-light;
    }
}
