input,
textarea {
    transition: all 0.2s ease;
    outline: none;
    border: none;
    color: $color-light;
    background-color: transparent;

    border: 0.2em solid $color-light;
    border-radius: 10px;
    &:focus {
        border-color: $color-primary;
    }
}
textarea {
    padding: 1em;
}
input {
    padding: 0.5em 1em;
}
